body {
    font-family: Arial, sans-serif;
 
}
.container {
    display: flex;
    width: 80%;
    justify-content: space-between;
}
textarea {
    width: 45%;
    height: 300px;
    resize: none;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
}
.button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}
.result {
    width: 45%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
}