@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    box-sizing: border-box;
}


body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}
header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    width: 100%;
    background-color: #6587ac;
    color: white;
    padding: 10px 0;
    text-align: center;
}
.container {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-top: 20px;
}
.input-group {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    margin: 10px 0;
}
.input-group h2 {
    color: #007bff  ;
    font-size: 20px;
    margin: 0 0 10px 0;
}
textarea, input {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    resize: none;
    border-radius: 10px;
}
.button-container {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
}
.button {
    font-family: 'Montserrat', sans-serif;
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #0056b3;
}
footer {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;
    margin-top: auto;
    text-align: center;
    width: 100%;
    font-size: 14px;
    padding: 10px;
    background-color: #6587ac
}